%Image::ExifTool::UserDefined = (

    'Image::ExifTool::Composite' => {

        StackedImageCustom => { # Merge GND filter densitiy and type into one value
            Require => {
                0 => 'StackedImage',
            },
            Desire => {
                1 => 'GNDFilterType',
            },
            PrintConv => '"$prt[0] $prt[1]"',
        },
    },


    'Image::ExifTool::Olympus::CameraSettings' => {

        0x0305 => { # Overwrite original printconv with output of the rational numbers
            Name => 'AFPointSelected',
            Writable => 'rational64s',
            Count => 5,
            ValueConv => '$val =~ s/\S* //; $val', # ignore first undefined value
            PrintConv => q{
                my @a = split ' ', $val;
                sprintf("%.4g %.4g",$a[0],$a[1]);
            },
        },
    },


    'Image::ExifTool::Olympus::ImageProcessing' => {

        0x1201 => { # Include this tag in standard output
            Name => 'FaceDetectArea',
            Writable => 'int16s',
            Count => -1, # (varies with model)
        },
    },


    'Image::ExifTool::Panasonic::Main' => {

        0x4d => { # Overwrite original printconv by using 4 digits instead of 2 for the coordinates
            Name => 'AFPointPosition',
            Writable => 'rational64u',
            Count => 2,
            Notes => 'X Y coordinates of primary AF area center, in the range 0.0 to 1.0',
            PrintConv => q{
                return 'none' if $val eq '16777216 16777216';
                my @a = split ' ', $val;
                sprintf("%.4g %.4g",@a);
            },
            PrintConvInv => '$val eq "none" ? "16777216 16777216" : $val',
        },
    },


);

1;  # Important: must return true
