%Image::ExifTool::UserDefined = (

    'Image::ExifTool::Composite' => {

        StackedImageCustom => {
            Require => {
                0 => 'StackedImage',
                1 => 'GNDFilterType',
            },
            PrintConv => '"$prt[0], $prt[1]"',
        },

        AFHold => {
            Require => {
                0 => 'AFCControl'
            },
            PrintConv => q {
                my @hold = ('Low', 'Medium', 'High', 'Off');
                return $hold[$val[0] & 0x03];  # extract bits 0 and 1
            },
        },

        AFPointTracking => {
            Require => {
                0 => 'AFCControl'
            },
            PrintConv => q {
                my @track = ('Type 1', 'Type 2', 'Type 3');
                return $track [($val & 0x0c) >> 2]; # extract bits 2 and 3
            },
        },

        FocusSensitivity => {
            Require => {
                0 => 'AFCControl'
            },
            PrintConv => q {
                my @sens = ('5', '4', '3', '2', '1');
                return $sens[($val & 0x70) >> 4]; # extract bits 4, 5, and 6
            },
        },

    },


    'Image::ExifTool::Olympus::CameraSettings' => {

        0x0305 => { # Overwrite original printconv with output of the rational numbers
            Name => 'AFPointSelected',
            Writable => 'rational64s',
            Count => 5,
            ValueConv => '$val =~ s/\S* //; $val', # ignore first undefined value
            PrintConv => q{
                my @a = split ' ', $val;
                sprintf("%.8g %.8g",$a[0],$a[1]);
            },
        },
    },


    'Image::ExifTool::Olympus::ImageProcessing' => {

        0x1201 => { # Include this tag in normal output
            Name => 'FaceDetectArea',
            Writable => 'int16s',
            Count => -1, # (varies with model)
        },
    },


    'Image::ExifTool::Olympus::FocusInfo' => {

        0x0328 => {
            Name => 'AFInfoBin',
            Writable => 'int8u',
            Count => -1,
        },

    },


    'Image::ExifTool::Pentax::TempInfo' => {

        0x000a => {
            Name => 'ShotNumber',
            Condition => '$$self{Model} =~ "K-3 Mark III"',
            # The exact same method to detect this tag with a similar set of files
            # does not reveal anything for K-1. Is this only available for K-3-III ?
            # Internal representation starts at 0 for the 1st shot
            Writable => 'int8s',
            ValueConv => '$val+1',
        },
    },


    'Image::ExifTool::Pentax::AFInfo' => {

        0x021f => {
            Name => 'FirstFrameActionInAFC',
            Condition => '$$self{Model} =~ "K-3 Mark III"',
            Writable => 'int8s',
            PrintConv => {
                '0'   => 'Auto',
                '1'   => 'Release Priority',
                '2'   => 'Focus Priority',
                # there is at least another value '3' but I couldn't figure out the
                # meaning. However, this occurs for a few AF-S captures, so it has
                # no real practical meaning.
            },
        },

        0x0220 => {
            Name => 'ActionInAFCCont',
            Condition => '$$self{Model} =~ "K-3 Mark III"',
            Writable => 'int8s',
            PrintConv => {
                '0'   => 'Auto',
                '1'   => 'Focus Priority',
                '2'   => 'FPS Priority',
            },
        },

        0x0221 => {
            Name => 'AFCControl',
            Condition => '$$self{Model} =~ "K-3 Mark III"', #KG
            # this byte contains the settings of three settings:
            # bits 0,1: Hold AF
            # bits 2,3: AF point tracking in AF.C
            # bits 4-6: Focus sensitivity in AF.C
            Writable => 'int8s',
            PrintConv => sub {
                my $val = shift;
                my $orig = $val;
                my @hold = ('Low', 'Medium', 'High', 'Off');
                my $hold = $hold[$val & 0x03];  # extract bits 0 and 1
                my @track = ('Type 1', 'Type 2', 'Type 3');
                my $track = $track [($val & 0x0c) >> 2]; # extract bits 2 and 3
                my @sens = ('5', '4', '3', '2', '1');
                my $sens = $sens[($val & 0x70) >> 4]; # extract bits 4, 5, and 6
                #return "$status ($orig)";
                return "Hold=$hold; Sensitivity=$sens; Point Tracking=$track"
            },
        },

        0x0960 => {
            Name => 'Subject Recognition',
            Condition => '$$self{Model} =~ "K-3 Mark III"', #KG
            Writable => 'int8s',
            PrintConv => {
                0 => 'Off',
                  1 => 'On',
            },
        },

    },


    'Image::ExifTool::Panasonic::Main' => {

        0x4d => { # Overwrite original printconv by using 8 digits instead of 2 for rational numbers
            Name => 'AFPointPosition',
            Writable => 'rational64u',
            Count => 2,
            Notes => 'X Y coordinates of primary AF area center, in the range 0.0 to 1.0',
            PrintConv => q{
                return 'none' if $val eq '16777216 16777216';
                my @a = split ' ', $val;
                sprintf("%.8g %.8g",@a);
            },
            PrintConvInv => '$val eq "none" ? "16777216 16777216" : $val',
        },

    },


);

1;  # Important: must return true