%Image::ExifTool::UserDefined = (

    'Image::ExifTool::Composite' => {

        StackedImageCustom => { # Merge GND filter densitiy and type into one value
            Require => {
                0 => 'StackedImage',
            },
            Desire => {
                1 => 'GNDFilterType',
            },
            PrintConv => '"$prt[0] $prt[1]"',
        },
    },


    'Image::ExifTool::Olympus::Main' => {
    },


    'Image::ExifTool::Olympus::CameraSettings' => {

        0x0305 => { # Overwrite original printconv with output of the rational numbers
            Name => 'AFPointSelected',
            Writable => 'rational64s',
            Count => 5,
            ValueConv => '$val =~ s/\S* //; $val', # ignore first undefined value
            PrintConv => q{
                my @a = split ' ', $val;
                sprintf("%.4g %.4g",$a[0],$a[1]);
            },
        },
    },


    'Image::ExifTool::Olympus::ImageProcessing' => {

        0x1201 => { # Include this tag in standard output
            Name => 'FaceDetectArea',
            Writable => 'int16s',
            Count => -1, # (varies with model)
        },
    },


    'Image::ExifTool::Olympus::FocusInfo' => {

        0x0328 => {
            Name => 'AFInfoBin',
            Writable => 'int8u',
            Count => -1,
        },

    },


    'Image::ExifTool::Olympus::AFInfo' => {
    },


    'Image::ExifTool::Pentax::Main' => {
    },


    'Image::ExifTool::Pentax::TempInfo' => {
    },


    'Image::ExifTool::Pentax::AFInfo' => {
    },



    'Image::ExifTool::Panasonic::Main' => {

        0x4d => { # Overwrite original printconv by using 4 digits instead of 2 for the coordinates
            Name => 'AFPointPosition',
            Writable => 'rational64u',
            Count => 2,
            Notes => 'X Y coordinates of primary AF area center, in the range 0.0 to 1.0',
            PrintConv => q{
                return 'none' if $val eq '16777216 16777216';
                return 'n/a' if $val =~ /^4194303\.9/;
                my @a = split ' ', $val;
                sprintf("%.4g %.4g",@a);
            },
            PrintConvInv => q{
                return '16777216 16777216' if $val eq 'none';
                return '4294967295/1024 4294967295/1024' if $val eq 'n/a';
                return $val;
            },
         },
    },

);

1;  # Important: must return true